.home {
  /* background-image: url(https://images.unsplash.com/photo-1574680096145-d05b474e2155?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2969&q=80); */
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.react-calendar {
  font-family: Arial, sans-serif;
  border-radius: 8px;
  width: 85vw;
  margin: auto;
}

.react-calendar__month-view__weekdays__weekday {
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  text-align: center;
}

.react-calendar__month-view__weekdays {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  margin: auto;
  padding: 10px;
}

.react-calendar__month-view__days {
  display: flex;
  flex-wrap: wrap;
}

.react-calendar__tile {
  padding: 8px;
  border-radius: 8px;
  background-color: #fff;
  color: #333;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.react-calendar__tile,
.react-calendar__month-view__days__day {
  padding: .5%;
  margin-right: 1%;
}

.react-calendar__tile--now {
  background-color: #eee;
}

.react-calendar__tile--active,
.react-calendar__tile--active:hover {
  background-color: #007bff;
  color: #fff;
  font-weight: bold;
}

.react-calendar__tile--hasActive:hover {
  background-color: #007bff;
  color: #fff;
}

.react-calendar__tile--hasWorkout {
  background-color: #007bff;
  color: #fff;
  font-weight: bold;
}

.react-calendar__tile--hasWorkout:hover {
  background-color: #007bff;
  color: #fff;
  font-weight: bold;
}

.react-calendar__navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.react-calendar__navigation button {
  font-size: 24px;
  color: #fff;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

.react-calendar__navigation button:hover {
  color: #fff;
}

.react-calendar__navigation__label {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  text-align: center;
}

.react-calendar__navigation button[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}